<div class="brand-logo center" >
  <img src="assets/images/books-icon.png" class="card-image">
  <span id="logo">KSIĘGARNIA</span>
</div>

<div class="row">

  <nav class="col s12">

    <div>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

  <div class="category-list col s3">
    <div class="collection ">
      <a href="#!" class="collection-item">Alan</a>
      <a href="#!" class="collection-item">Alan</a>
      <a href="#!" class="collection-item">Alan</a>
      <a href="#!" class="collection-item">Alan</a>
    </div>
  </div>
  <div class="content col s9">

    dupa


  </div>

</div>


<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      2021 © Bookstore,All rights reserved.
    </div>
  </div>
</footer>

